<header>
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-primary d-flex flex-row justify-content-center align-items-center">
    <div class="d-flex flex-row justify-content-between navbarInnerContainer">
      <div style="flex: 1;" class="menuWrapper">
        <a class="navbar-brand" routerLink="/">Ahsan Ahmed</a>
        <ng-template #navbarIcon>
          <button (click)="onCollapse($event)">
            <icon width="2rem" height="2rem" name='list'></icon>
          </button>
        </ng-template>
        <collapse [collapse]="!smallWidth || collapse" class='collapseContainer' [titleTemplate]="navbarIcon">
          <ul class="navbar-nav me-auto">
            <li *ngFor="let item of menu" class="nav-item mx-1" (click)="onCollapse($event)">
              <a class="nav-link" [href]="item.link || '#'">{{item.label}}</a>
            </li>
          </ul>
        </collapse>
      </div>
      <div class='d-flex flex-row justify-content-between align-items-end' style="position: relative;">
        <ng-container *ngIf="!user">
          <a routerLink="/login" class="btn btn-outline-dark m-1">Log In</a>
          <a routerLink="/register" class="btn btn-secondary m-1">Create Account</a>
        </ng-container>
        <ng-container *ngIf="user?.id">
          <button class="btn btn-dark" (click)="showPopup = !showPopup">
            <avatar [name]="user.name"></avatar>
          </button>
          <account-popup [show]="showPopup"></account-popup>
        </ng-container>
      </div>
    </div>
  </nav>
</header>
