<div class="pe-2" style="flex:0.75;">
  <button class="btn btn-link p-0 m-0">
    <icon name="bookmark"></icon>
  </button>
  <h1 [routerLink]="'/blog/'+blog.id" style="cursor:pointer;">{{blog.title}}</h1>
  <p class="lead mb-0">{{blog.description}}</p>
  <div class="d-flex flex-row justify-content-between align-items-center">
    <div class="d-flex flex-row">
      <div class="d-flex flex-row align-items-center m-1">
        <icon class="p-1" name="hand-thumbs-up"></icon>
        <span>10 Likes</span>
      </div>

      <div class="d-flex fle-row align-items-center m-1">
        <icon class="p-1" name="chat-dots"></icon>
        <span>10 Comments</span>
      </div>
    </div>
    <p>{{blog.author?.created_at | date }}</p>
  </div>
</div>
<div class="d-flex flex-column justify-content-around align-items-center ps-1" style="flex:0.25;border-left: 1px solid grey;">
  <div class="d-flex flex-column align-items-center">
    <avatar class="me-2 p-2 avatar" [name]="blog.author?.name"></avatar>
    <div class="d-flex flex-column">
      <p class="lead mb-1">{{blog.author?.name}}</p>
    </div>
  </div>
  <button class="btn btn-outline-primary rounded">Follow</button>
  <div class="d-flex flex-row">
    <div class="d-flex fle-row align-items-center justify-content-center">
      <icon class="pe-1" name="chat-dots"></icon>
      <p class="mb-0">10 Followers</p>
    </div>
  </div>
</div>
