.accountPopup__container {
  border: 1px solid #0000001a;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 20;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  right: 30%;
  width: 15rem;
  justify-content: space-around;
  min-height: 15rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
}

.accountPopup__container .accountPopup__logout {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 50%;
}

.accountPopup__profileDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.3rem 0;
  width:100%;
}

.accountPopup__profileDetail * {
  margin: 0.2rem 0;
}

.accountPopup__profileDetail>.avatar__container {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 4.5rem;
  font-size: 1.8rem;
}

.accountPopup__profileDetail>p {
  font-size: 0.875rem;
  line-break:anywhere;
  text-align: center;
}

.accountPopup__accountNavList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.accountPopup__accountNavList a,
.accountPopup__accountNavList .btn {
  margin: 0.2rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 0.5rem;
  backdrop-filter: blur(5px);
  text-decoration: none;
  box-shadow: none;
  padding: 0.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}

.accountPopup__switchAccountWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.accountPopup__switchAccountWrapper > button {
  background-color: transparent;
  outline: none;
  border:0;
  font-size: 1rem;
  padding:0.4rem;
}

.accountPopup__switchAccountWrapper > button:hover {
  cursor: pointer;
  text-decoration: underline;
}
