.collapsible {
  /* background-color: var(--bs-body-bg);
  color: var(--bs-body-color); */
  cursor: pointer;
  padding: 0.8rem;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--bs-light);
  text-align: left;
  outline: none;
}

.active {
  color: var(--bs-primary);
  background-color: var(--bs-gray-200);
}

.content {
  padding: 0 0.8rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
