<section class="signup__container p-5">
  <div class="signup__innerContainer">
    <ng-container [ngTemplateOutlet]="emailVerified ? step2 : step1">

    </ng-container>
    <ng-template #step1>
      <form (submit)="onNextStep($event)" class="w-100">
        <p class="lead mb-0"> Welcome to </p>
        <legend>Thought Processing</legend>

        <div class="form-group">
          <floating-input name="email" htmlType="email" label="Email" class="w-100"></floating-input>
        </div>

        <div class="signup__alternateActions">
          <a class="btn btn-link" routerLink="/forgot">Forgot password</a>
          <a class="btn btn-link" routerLink="/login">Have account</a>
        </div>

        <button type="submit" class="btn btn-primary">Next</button>
      </form>
    </ng-template>

    <!-- Second processing step -->

    <ng-template #step2>
      <form (submit)="onSignup($event)" class="w-100">

        <button role="button" type="button" class="btn btn-link" (click)="emailVerified = false" style="width: unset; align-self: flex-start;">
          <icon name="arrow-left" style="padding: 0.5rem 1rem;"></icon>
        </button>

        <p class="lead mb-0"> Welcome to </p>
        <legend>Thought Processing</legend>

        <input type="hidden" [value]="email" />
        <input type="file" name="profile" #fileUploader style="display: none;" />

        <div class="d-flex flex-row justify-content-center align-items-center">
          <avatar [name]="name || 'Thought Processing'" class="imageuploader">
            <button class="btn btn-primary" role="button" type="button" (click)="fileUploader.click()">
              <icon name="camera-fill" style="flex:none;"></icon>
            </button>
          </avatar>
        </div>

        <div class="form-group">
          <floating-input [(value)]="name" name="name" label="Name" class="w-100"></floating-input>
        </div>

        <div class="form-group">
          <floating-input name="password" htmlType="password" label="Password" class="w-100"></floating-input>
        </div>

        <div class="form-group">
          <floating-input name="confirm_password" htmlType="password" label="Re-Enter Password" class="w-100"></floating-input>
        </div>

        <div class="form-group">
          <floating-textarea name="bio" label="Bio" class="w-100" placeholder="Tell reader something inspiring about you"></floating-textarea>
        </div>

        <div class="form-group">
          <floating-input name="linkedin" label="LinkedIn" placeholder="https://www.linkedin.com/in/ahsan-ahmed-5b6b5382/" class="w-100" iconName="linkedin"></floating-input>
        </div>

        <div class="form-group">
          <floating-input name="github" label="Github" placeholder="Ahsan-J" class="w-100" iconName="github"></floating-input>
        </div>

        <div class="form-group">
          <floating-input name="website" label="Website" class="w-100" placeholder="https://ahsan-j.com/" iconName="globe"></floating-input>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Signup</button>
      </form>
    </ng-template>
  </div>
</section>
