<section class="forgot__container p-5">
  <div class="forgot__innerContainer">
    <form (submit)="onForgot($event)" class="w-100">
      <p class="lead mb-0"> Welcome to </p>
      <legend>Thought Processing</legend>

      <div class="form-group">
        <label for="login_email" class="form-label mt-1">Email</label>
        <input type="email" name="email" [defaultValue]="'ruthi@ap.gg'" class="form-control" id="login_email" placeholder="Blog Title">
      </div>

      <div class="forgot__alternateActions">
        <a class="btn btn-link" routerLink="/login">Have account</a>
        <a class="btn btn-link" routerLink="/register">Create Account</a>
      </div>

      <button type="submit" class="btn btn-primary">Next</button>
    </form>
  </div>
</section>
