<section>
  <div>
    <p>There are no doubt many blogging websites like <a href="https://medium.com">Medium</a>, <a href="#">Dev.to</a>, and many more.</p>
    <p>So, why bother creating another blog website?</p>
    <p>
      As a developer, I really love to read amazing articles and content from amazing peoples.
      But the problem everyone faces is the limited access.
      Medium has restriction for free user to view 2 contents per day.
      This limits the user to read amazing articles and sometimes leads to frustration in my case.
    </p>
    <p>
      My Goal is to allow people to post content and help them analyze their reach.
      This is not a proper blog platform at the moment but will do hope that your feedback contributes to make it a proper blog platform  for users to read through.
    </p>

  </div>
</section>
